<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
            <ul class="sidebar-nav">
              <li>
                <a href="/catalog">Home</a>
              </li>
              <li>
                <a href="/catalog/books">All Books</a>
              </li>
              <li>
                <a href="/catalog/authors">All Authors</a>
              </li>
              <li>
                <a href="/catalog/genres">All Genres</a>
              </li>
              <li>
                <a href="/catalog/bookinstances">All Book-Instances</a>
              </li>
              <hr>
              <li>
                <a href="/catalog/author/create">Create New Author</a>
              </li>
              <li>
                <a href="/catalog/genre/create">Create New Genre</a>
              </li>
              <li>
                <a href="/catalog/book/create">Create New Book</a>
              </li>
              <li>
                <a href="/catalog/bookinstance/create">Create New Book Instance (Copy)</a>
              </li>
            </ul>
        </div>
        <div class="col-sm-10">
          {{{ body }}}
        </div>
      </div>
    </div>
  </body>
</html>
