<h1> {{ title }} </h1>

<form action="" method="POST">
    <div class="form-group">
        <label for="name">Genre:</label>
        <input type="text" placeholder="Fantasy, Poetry, etc." name="name" value={{ genre.name }}>
    </div>
    <button type="submit">Submit</button>
</form>